.search{
    margin: 10px;
  }
  .input {
    margin-top: 10px;
    width: 80%;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 15px;
    padding: 15px;
    height: 8px;
    
    
  } 
  .dataResult {
    margin-top: 5px;
    width: 85%;
    height: 210px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
.head{
  font-size: 1.5rem;
}


button {
	background: #1E31A1;
  border: 1px solid rgb(202, 202, 202);
	border: 0px;
	color: #fff;
	width: 15%;
  height: 40px;
	cursor: pointer;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
 
}

button:hover {
	color: rgb(216, 237, 132);
}
.Listdropdown{
  border-bottom: 1px solid rgb(202, 202, 202);
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}
.flex1{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}
.flex2{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  font-size: 15px;
}
.ListName {
  font-weight: 800;
}
.Listpost{
  font-size: 0.8rem;
}
.deleteicon{
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.employeeList{
 margin-top: 20px;
 padding-right: 20px;
 border: 1px solid rgb(202, 202, 202);
 /* border-top: 0; */
 border-radius:10px

}
.deleteicon{
  color: #1E31A1;
}

 /* Search result css  */
 .dropdown{
  border-bottom: 1px solid rgb(202, 202, 202);
  display: flex;
  width: 100%;
  padding: 10px;
  
}
.flexs1{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.flexs2{
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.name {
  font-weight: 800;
}
.post,.email{
  margin-left: 3px;
  font-size: 0.8rem;
}
.email{
  margin-left: 8px;
}


.dataResult{
 border: 1px solid rgb(202, 202, 202);
 /* border-top: 0; */
 border-radius:10px
}
